<a href="https://colab.research.google.com/github/lethiciaasevedo1999/learning-R/blob/main/Analise_comR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

|Data|ID\_Produto|Nome\_Produto|Quantidade\_Vendida|	Estoque\_Disponível|Categoria|
|---|---|---|---|---|---|
|2023-01-01|1001|Camisa Social Azul|5|50|Camisas|
|2023-01-01|1002|Calça Jeans|8|30|Calças|
|2023-01-02|1003|Jaqueta de Couro|2|20|Jaquetas|
|2023-01-03|1004|Camisa Social Branca|3|45|Camisas|
|2023-01-03|1005|Saia Longa|4|25|Saias|
|2023-01-04|1006|Blusa de Algodão|7|60|Blusas|
|2023-01-05|1007|Calça de Moletom|10|40|Calças|
|2023-01-06|1008|Vestido Floral|6|35|Vestidos|
|2023-01-07|1009|Terno Completo|1|15|Ternos|
|2023-01-08|1010|Camiseta Básica|15|100|Camisetas|

#**Criando o dataframe**

In [1]:
sales_data_vetor <- c(
     "2023-01-01", 1001, "Camisa Social Azul", 5, 50, "Camisas",
     "2023-01-01", 1002, "Calça Jeans", 8, 30, "Calças",
     "2023-01-02", 1003, "Jaqueta de Couro", 2, 20, "Jaquetas",
     "2023-01-03", 1004, "Camisa Social Branca", 3, 45, "Camisas",
     "2023-01-03", 1005, "Saia Longa", 4, 25, "Saias",
     "2023-01-04", 1006, "Blusa de Algodão", 7, 60, "Blusas",
     "2023-01-05", 1007, "Calça de Moletom", 10, 40, "Calças",
     "2023-01-06", 1008, "Vestido Floral", 6, 35, "Vestidos",
     "2023-01-07", 1009, "Terno Completo", 1, 15, "Ternos",
     "2023-01-08", 1010, "Camiseta Básica", 15, 100, "Camisetas"
)
sales_data_vetor

 [1] "2023-01-01"           "1001"                 "Camisa Social Azul"
 [4] "5"                    "50"                   "Camisas"
 [7] "2023-01-01"           "1002"                 "Calça Jeans"
[10] "8"                    "30"                   "Calças"
[13] "2023-01-02"           "1003"                 "Jaqueta de Couro"
[16] "2"                    "20"                   "Jaquetas"
[19] "2023-01-03"           "1004"                 "Camisa Social Branca"
[22] "3"                    "45"                   "Camisas"
[25] "2023-01-03"           "1005"                 "Saia Longa"
[28] "4"                    "25"                   "Saias"
[31] "2023-01-04"           "1006"                 "Blusa de Algodão"
[34] "7"                    "60"                   "Blusas"
[37] "2023-01-05"           "1007"                 "Calça de Moletom"
[40] "10"                   "40"                   "Calças"
[43] "2023-01-06"           "1008"                 "Vestido Floral"
[46] "6"                    "35"                   "Vestidos"
[49] "2023-01-07"           "1009"                 "Terno Completo"
[52] "1"                    "15"                   "Ternos"
[55] "2023-01-08"           "1010"                 "Camiseta Básica"
[58] "15"                   "100"                  "Camisetas"

In [2]:
# Criar a matriz a partir do vetor
sales_data_matrix <- matrix(sales_data_vetor, nrow = 10, byrow = TRUE)
sales_data_matrix

      [,1]       [,2] [,3]                 [,4] [,5] [,6]
 [1,] 2023-01-01 1001 Camisa Social Azul   5    50   Camisas
 [2,] 2023-01-01 1002 Calça Jeans          8    30   Calças
 [3,] 2023-01-02 1003 Jaqueta de Couro     2    20   Jaquetas
 [4,] 2023-01-03 1004 Camisa Social Branca 3    45   Camisas
 [5,] 2023-01-03 1005 Saia Longa           4    25   Saias
 [6,] 2023-01-04 1006 Blusa de Algodão     7    60   Blusas
 [7,] 2023-01-05 1007 Calça de Moletom     10   40   Calças
 [8,] 2023-01-06 1008 Vestido Floral       6    35   Vestidos
 [9,] 2023-01-07 1009 Terno Completo       1    15   Ternos
[10,] 2023-01-08 1010 Camiseta Básica      15   100  Camisetas

In [3]:
# Definir os nomes das colunas
colnames(sales_data_matrix) <- c("Data", "ID_Produto", "Nome_Produto", "Quantidade_Vendida", "Estoque_Disponível", "Categoria")

# Exibir a matriz
sales_data_matrix

      Data       ID_Produto Nome_Produto         Quantidade_Vendida
 [1,] 2023-01-01 1001       Camisa Social Azul   5
 [2,] 2023-01-01 1002       Calça Jeans          8
 [3,] 2023-01-02 1003       Jaqueta de Couro     2
 [4,] 2023-01-03 1004       Camisa Social Branca 3
 [5,] 2023-01-03 1005       Saia Longa           4
 [6,] 2023-01-04 1006       Blusa de Algodão     7
 [7,] 2023-01-05 1007       Calça de Moletom     10
 [8,] 2023-01-06 1008       Vestido Floral       6
 [9,] 2023-01-07 1009       Terno Completo       1
[10,] 2023-01-08 1010       Camiseta Básica      15
      Estoque_Disponível Categoria
 [1,] 50                 Camisas
 [2,] 30                 Calças
 [3,] 20                 Jaquetas
 [4,] 45                 Camisas
 [5,] 25                 Saias
 [6,] 60                 Blusas
 [7,] 40                 Calças
 [8,] 35                 Vestidos
 [9,] 15                 Ternos
[10,] 100                Camisetas

In [4]:
#Transformando os meus dados em table, para que seja capaz de fazer cálculos em categorias
sales_data_table <- as.table(sales_data_matrix)
sales_data_table

  Data       ID_Produto Nome_Produto         Quantidade_Vendida
A 2023-01-01 1001       Camisa Social Azul   5
B 2023-01-01 1002       Calça Jeans          8
C 2023-01-02 1003       Jaqueta de Couro     2
D 2023-01-03 1004       Camisa Social Branca 3
E 2023-01-03 1005       Saia Longa           4
F 2023-01-04 1006       Blusa de Algodão     7
G 2023-01-05 1007       Calça de Moletom     10
H 2023-01-06 1008       Vestido Floral       6
I 2023-01-07 1009       Terno Completo       1
J 2023-01-08 1010       Camiseta Básica      15
  Estoque_Disponível Categoria
A 50                 Camisas
B 30                 Calças
C 20                 Jaquetas
D 45                 Camisas
E 25                 Saias
F 60                 Blusas
G 40                 Calças
H 35                 Vestidos
I 15                 Ternos
J 100                Camisetas

In [5]:
categorias <- sales_data_matrix[,6]
categorias

 [1] "Camisas"   "Calças"    "Jaquetas"  "Camisas"   "Saias"     "Blusas"
 [7] "Calças"    "Vestidos"  "Ternos"    "Camisetas"

In [6]:
#Contagem dos dados categoricos,  quantos produtos temos em cada categoria
frequencias <- table(categorias)
frequencias

categorias
   Blusas    Calças   Camisas Camisetas  Jaquetas     Saias    Ternos  Vestidos
        1         2         2         1         1         1         1         1

# **Carregando a base de dados**

In [17]:
path <- "/content/dados_vendas_inventario_meteora_grande.csv"

In [18]:
sales_data <- read.csv(path)

In [19]:
sales_data

    Data       ID_Produto Nome_Produto         Quantidade_Vendida
1   2023-01-01 1001       Camisa Social Azul    7
2   2023-01-01 1002       Calça Jeans           7
3   2023-01-01 1003       Jaqueta de Couro      7
4   2023-01-01 1004       Camisa Social Branca 15
5   2023-01-01 1005       Saia Longa            7
6   2023-01-01 1006       Blusa de Algodão      8
7   2023-01-01 1007       Calça de Moletom     10
8   2023-01-01 1008       Vestido Floral        6
9   2023-01-01 1009       Terno Completo       11
10  2023-01-01 1010       Camiseta Básica       4
11  2023-01-02 1001       Camisa Social Azul   14
12  2023-01-02 1002       Calça Jeans          15
13  2023-01-02 1003       Jaqueta de Couro      1
14  2023-01-02 1004       Camisa Social Branca  4
15  2023-01-02 1005       Saia Longa            8
16  2023-01-02 1006       Blusa de Algodão      1
17  2023-01-02 1007       Calça de Moletom     11
18  2023-01-02 1008       Vestido Floral       10
19  2023-01-02 1009       Terno Completo        1
20  2023-01-02 1010       Camiseta Básica      13
21  2023-01-03 1001       Camisa Social Azul    2
22  2023-01-03 1002       Calça Jeans           5
23  2023-01-03 1003       Jaqueta de Couro     10
24  2023-01-03 1004       Camisa Social Branca 12
25  2023-01-03 1005       Saia Longa           13
26  2023-01-03 1006       Blusa de Algodão      4
27  2023-01-03 1007       Calça de Moletom      5
28  2023-01-03 1008       Vestido Floral       17
29  2023-01-03 1009       Terno Completo       18
30  2023-01-03 1010       Camiseta Básica      11
⋮   ⋮          ⋮          ⋮                    ⋮
281 2023-01-29 1001       Camisa Social Azul    8
282 2023-01-29 1002       Calça Jeans          12
283 2023-01-29 1003       Jaqueta de Couro     10
284 2023-01-29 1004       Camisa Social Branca  6
285 2023-01-29 1005       Saia Longa            3
286 2023-01-29 1006       Blusa de Algodão     12
287 2023-01-29 1007       Calça de Moletom      1
288 2023-01-29 1008       Vestido Floral        2
289 2023-01-29 1009       Terno Completo       10
290 2023-01-29 1010       Camiseta Básica      12
291 2023-01-30 1001       Camisa Social Azul    8
292 2023-01-30 1002       Calça Jeans           2
293 2023-01-30 1003       Jaqueta de Couro     11
294 2023-01-30 1004       Camisa Social Branca 13
295 2023-01-30 1005       Saia Longa            4
296 2023-01-30 1006       Blusa de Algodão      8
297 2023-01-30 1007       Calça de Moletom     17
298 2023-01-30 1008       Vestido Floral       18
299 2023-01-30 1009       Terno Completo        7
300 2023-01-30 1010       Camiseta Básica       6
301 2023-01-31 1001       Camisa Social Azul   18
302 2023-01-31 1002       Calça Jeans          12
303 2023-01-31 1003       Jaqueta de Couro     12
304 2023-01-31 1004       Camisa Social Branca  9
305 2023-01-31 1005       Saia Longa           11
306 2023-01-31 1006       Blusa de Algodão     10
307 2023-01-31 1007       Calça de Moletom     11
308 2023-01-31 1008       Vestido Floral       16
309 2023-01-31 1009       Terno Completo        6
310 2023-01-31 1010       Camiseta Básica      16
    Estoque_Disponível Categoria
1   35                 Camisas
2   58                 Calças
3   78                 Jaquetas
4   24                 Camisas
5   18                 Saias
6   48                 Blusas
7   36                 Calças
8   95                 Vestidos
9   62                 Ternos
10  67                 Camisetas
11  86                 Camisas
12  26                 Calças
13  19                 Jaquetas
14  36                 Camisas
15  19                 Saias
16  22                 Blusas
17  62                 Calças
18  74                 Vestidos
19  12                 Ternos
20  99                 Camisetas
21  37                 Camisas
22  65                 Calças
23  97                 Jaquetas
24  44                 Camisas
25  28                 Saias
26  99                 Blusas
27  24                 Calças
28  96                 Vestidos
29  76                 Ternos
30  15                 Camisetas
⋮   ⋮                  ⋮
281 15                 Camisas
282 37                 Calças
283 21                 Jaquetas
284 49                 Camisas
285 43                 Saias
286 96                 Blusas
287 18                 Calças
288 57                 Vestidos
289 97                 Ternos
290 42                 Camisetas
291 74                 Camisas
292 59                 Calças
293 45                 Jaquetas
294 97                 Camisas
295 62                 Saias
296 55                 Blusas
297 60                 Calças
298 33                 Vestidos
299 22                 Ternos
300 66                 Camisetas
301 72                 Camisas
302 93                 Calças
303 45                 Jaquetas
304 80                 Camisas
305 67                 Saias
306 41                 Blusas
307 40                 Calças
308 49                 Vestidos
309 65                 Ternos
310 54                 Camisetas

In [20]:
#Assim eu verifico se meus dados são um dataframe ou outro tipo de dados
class(sales_data)

[1] "data.frame"

In [21]:
head(sales_data)

  Data       ID_Produto Nome_Produto         Quantidade_Vendida
1 2023-01-01 1001       Camisa Social Azul    7
2 2023-01-01 1002       Calça Jeans           7
3 2023-01-01 1003       Jaqueta de Couro      7
4 2023-01-01 1004       Camisa Social Branca 15
5 2023-01-01 1005       Saia Longa            7
6 2023-01-01 1006       Blusa de Algodão      8
  Estoque_Disponível Categoria
1 35                 Camisas
2 58                 Calças
3 78                 Jaquetas
4 24                 Camisas
5 18                 Saias
6 48                 Blusas

In [22]:
#Acessando dados dentro do vetor
sales_data[1,3]

[1] "Camisa Social Azul"

In [23]:
sales_data[1, "Nome_Produto"]

[1] "Camisa Social Azul"

In [25]:
#Traz dados estatísticos sobre a base de dados
summary(sales_data)

     Data             ID_Produto   Nome_Produto       Quantidade_Vendida
 Length:310         Min.   :1001   Length:310         Min.   : 1.00
 Class :character   1st Qu.:1003   Class :character   1st Qu.: 6.00
 Mode  :character   Median :1006   Mode  :character   Median :11.00
                    Mean   :1006                      Mean   :10.64
                    3rd Qu.:1008                      3rd Qu.:15.75
                    Max.   :1010                      Max.   :19.00
 Estoque_Disponível  Categoria
 Min.   :10.00      Length:310
 1st Qu.:33.00      Class :character
 Median :54.00      Mode  :character
 Mean   :54.39
 3rd Qu.:76.00
 Max.   :99.00

In [26]:
#Criando um nome dataframe apenas com as categorias de camisas
camisas_df <- subset(sales_data, Categoria == "Camisas")
head(camisas_df)

   Data       ID_Produto Nome_Produto         Quantidade_Vendida
1  2023-01-01 1001       Camisa Social Azul    7
4  2023-01-01 1004       Camisa Social Branca 15
11 2023-01-02 1001       Camisa Social Azul   14
14 2023-01-02 1004       Camisa Social Branca  4
21 2023-01-03 1001       Camisa Social Azul    2
24 2023-01-03 1004       Camisa Social Branca 12
   Estoque_Disponível Categoria
1  35                 Camisas
4  24                 Camisas
11 86                 Camisas
14 36                 Camisas
21 37                 Camisas
24 44                 Camisas

In [27]:
#Min -> esse dado mostra no menor valor, isso significa que não há valores negativos.
summary(camisas_df)

     Data             ID_Produto   Nome_Produto       Quantidade_Vendida
 Length:62          Min.   :1001   Length:62          Min.   : 1.00
 Class :character   1st Qu.:1001   Class :character   1st Qu.: 7.25
 Mode  :character   Median :1002   Mode  :character   Median :12.00
                    Mean   :1002                      Mean   :11.03
                    3rd Qu.:1004                      3rd Qu.:15.00
                    Max.   :1004                      Max.   :19.00
 Estoque_Disponível  Categoria
 Min.   :12.00      Length:62
 1st Qu.:37.25      Class :character
 Median :55.50      Mode  :character
 Mean   :56.95
 3rd Qu.:79.75
 Max.   :97.00

In [28]:
camisas_df[1, ]

  Data       ID_Produto Nome_Produto       Quantidade_Vendida
1 2023-01-01 1001       Camisa Social Azul 7
  Estoque_Disponível Categoria
1 35                 Camisas

In [30]:
nova_linha <- data.frame(Data = "2023-01-01	",
                        ID_Produto = 1001 ,
                        Nome_Produto = "Camisa Social Azul" ,
                        Quantidade_Vendida = -7,
                        Estoque_Disponível = 35 ,
                        Categoria = "Camisas")

nova_linha

  Data         ID_Produto Nome_Produto       Quantidade_Vendida
1 2023-01-01\t 1001       Camisa Social Azul -7
  Estoque_Disponível Categoria
1 35                 Camisas

In [31]:
sales_data <- rbind(sales_data, nova_linha)

In [32]:
head(sales_data)

  Data       ID_Produto Nome_Produto         Quantidade_Vendida
1 2023-01-01 1001       Camisa Social Azul    7
2 2023-01-01 1002       Calça Jeans           7
3 2023-01-01 1003       Jaqueta de Couro      7
4 2023-01-01 1004       Camisa Social Branca 15
5 2023-01-01 1005       Saia Longa            7
6 2023-01-01 1006       Blusa de Algodão      8
  Estoque_Disponível Categoria
1 35                 Camisas
2 58                 Calças
3 78                 Jaquetas
4 24                 Camisas
5 18                 Saias
6 48                 Blusas

In [33]:
#Com o Sumary é possível corrigir os dados, e verificar a veracidade dos mesmos
summary(sales_data)

     Data             ID_Produto   Nome_Produto       Quantidade_Vendida
 Length:311         Min.   :1001   Length:311         Min.   :-7.00
 Class :character   1st Qu.:1003   Class :character   1st Qu.: 6.00
 Mode  :character   Median :1005   Mode  :character   Median :11.00
                    Mean   :1005                      Mean   :10.58
                    3rd Qu.:1008                      3rd Qu.:15.50
                    Max.   :1010                      Max.   :19.00
 Estoque_Disponível  Categoria
 Min.   :10.00      Length:311
 1st Qu.:33.00      Class :character
 Median :54.00      Mode  :character
 Mean   :54.33
 3rd Qu.:76.00
 Max.   :99.00

In [34]:
#Removendo o dado inválido criado para teste dentro do dataframe
sales_data <- subset(sales_data, Quantidade_Vendida != -7)

In [35]:
summary(sales_data)

     Data             ID_Produto   Nome_Produto       Quantidade_Vendida
 Length:310         Min.   :1001   Length:310         Min.   : 1.00
 Class :character   1st Qu.:1003   Class :character   1st Qu.: 6.00
 Mode  :character   Median :1006   Mode  :character   Median :11.00
                    Mean   :1006                      Mean   :10.64
                    3rd Qu.:1008                      3rd Qu.:15.75
                    Max.   :1010                      Max.   :19.00
 Estoque_Disponível  Categoria
 Min.   :10.00      Length:310
 1st Qu.:33.00      Class :character
 Median :54.00      Mode  :character
 Mean   :54.39
 3rd Qu.:76.00
 Max.   :99.00